body {
  margin: 0;
  padding: 0;
}
#page {
  width: 400px;
  border: solid 1px lightgray;
  display: flex;
  flex-flow: row wrap;
}
.box {
  border: solid 1px red;
  min-height: 100px;
  min-width: 100px;
  /* flex-grow: 0 By default */
}

.box:first-child { flex-grow: 1}
.box:last-child { flex-grow: 1}